# Node modules
fr_logistorage/node_modules/

# Build output
fr_logistorage/build/
fr_logistorage/dist/

# Logs
fr_logistorage/npm-debug.log*
fr_logistorage/yarn-debug.log*
fr_logistorage/yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
fr_logistorage/.env